<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap %}
<html lang="es">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Consulta</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sendmail.css' %}" rel="stylesheet">

 </head>
         {% include "navbar.html" %}
    <body>
    <section>
    <h2 class="section-title mb-2 h1">Consulta</h2>
        <div class="container">
            <div class="sendmail">
                <form method="post">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                </form>
            </div>>
        </div>
    </section>
        {% include "footer.html" %}
    </body>
</html>

